<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p> Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Autem quos magni ipsum aspernatur sunt deserunt ab necessitatibus a. Dicta dolor minus, molestiae doloribus! Fuga minima accusamus aspernatur quae qui dolores.</p>
